// variables

$primary: #2B5D56;
$primary-light: #347068;

$lighter-gray: #F8F8F8;

// reset

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

html, body {
  height: 100%;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


// fonts

html {
  font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 20px;
  color: #222;
}

a, a:hover {
  text-decoration: none;
}

h1 {
  font-size: 1rem;
}

h2 {
  font-size: 0.75rem;
}

p {
  font-size: 10px;
  padding: 10px;
}

// layout

#grid {
  display: grid;
  grid-template-columns: 150px auto;
  grid-template-rows: 30px auto;
  width: 100%;
  height: 100%;
}

#header {
  grid-column: 1 / 3;
  grid-row: 1 / 1;
  justify-self: stretch;
  z-index: 1;
}

#sidebar {
  grid-column: 1 / 2;
  grid-row: 2 / 2;
  position: fixed;
  bottom: 0;
  left: 0;
  top: 1.0rem;
  padding-right: 1.25rem;
}

#content {
  grid-column: 2 / 2;
  grid-row: 2 / 2;
  justify-self: stretch;
}

// components

#header {
  display: flex;
  align-items: center;
  background-color: $primary;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 5px;

  h1 {
    color: white;
    font-weight: bold;
    text-align: center;
    margin: 0;
  }

  h2 {
    color: white;
    font-weight: bold;
    margin-left: 0.5rem;
  }

  a {
    color: white;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    font-size: 0.75rem;
    cursor: pointer;
  }
}

#sidebar {
  background-color: $primary-light;
  padding-top: 0.6rem;

  a {
    font-size: 0.70rem;
    padding: 0.25rem 0.5rem;
    margin: 0.25rem 0.5rem;
    color: white;
    display: block;

    &:hover {
      background-color: $primary;
    }
  }
  table, td {
    color: white;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    font-size: 0.70rem;
    border: none;
  }

  select {
    color: white;
    font-size: 0.60rem;
    background-color: #2B5D56;
    -webkit-appearance: menulist;
    width: 4.5rem;
  }
}

#content {
  background-color: $lighter-gray;
  padding: 0.4rem 0.4rem 0 0.4rem;

  section {
    background-color: #FFFFFF;
    margin-bottom: 0.4rem;
    padding: 0.4rem;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.11), 0 0 0 1px rgba(0, 0, 0, 0.03);
    outline-color: rgba(0, 0, 0, 0.870588);

    h2 {
      color: $primary;
      font-size: 0.75rem;
      margin-top: 0;
      margin-bottom: 0.6rem;
    }
  }
}

// tables

table {
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  font-size: 0.5rem;

  button {
    padding-top: 1px;
    padding-bottom: 1px;
  }

  &.actions-column tr td:last-child,
  &.actions-column tr th:last-child {
    border: none;
    background-color: white;
  }
}

th {
  font-weight: bold;
  text-align: left;
  color: #555;
}

.numerical {
  text-align: right;
}

.numericalGreen {
  text-align: right;
  color: #155724;
  background-color: #d4edda;
  font-weight: bold;
}

.numericalYellow {
  text-align: right;
  color: #856404;
  background-color: #fff3cd;
  font-weight: bold;
}

.numericalRed {
  text-align: right;
  color: #721c24;
  background-color: #f8d7da;
  font-weight: bold;
}

thead th {
  border-bottom: 2px solid #BBB;
}

tr {
  &.sub-total {
    background-color: #F0F0F0;
    th {
      border-bottom: 1px solid #DDDDDD;  // HACK; clean up later
    }
  }
  &.total {
    background-color: #E0E0E0;
    th {
      border-bottom: 1px solid #DDDDDD;  // HACK; clean up later
    }
  }
  &.scorecard {
    border-top: 2px solid #BBB;
  }
}

td {
  border-bottom: 1px solid #DDDDDD;
  color: #555;

  &.numerical {
    text-align: right;
  }

  &.long {
    width: 200px;
  }
}

td, th {
  height: 17px; // HACK to force text rows to be same as rows with input
  vertical-align: middle;
  padding: 2px 4px 2px 4px;
}

th {
  padding-right: 6px;

  &.numerical {
    text-align: right;
  }
}

input, select {
  background: none;
  border: none;
  border-radius: 0;
  padding: 0;
  cursor: pointer;
  color: #555;
  font-size: 0.5rem;
  -webkit-appearance: none;
  width: 100%;
  height: 100%;

  &.numericalShort {
    text-align: right;
    width: 20px;
  }

  &.numericalMedium {
    text-align: right;
    width: 60px;
  }

  &.dropdown {
    -webkit-appearance: menulist;
  }

}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

select {
  direction: ltr;
}

button {
  margin: 0;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.11), 0 0 0 1px rgba(0, 0, 0, 0.03);
  padding: 1px 7px 2px;
  font-size: 0.5rem;
  margin-right: 0.25rem;

  &.delete {
    background-color: #c63125;
    color: white;
  }

  &.add, &.primary {
    background-color: #2B5D56;
    color: white;
  }
}

.csvbutton {
  @extend button;
  @extend button.add;
}


input {
  text-align: left;
  &.numerical {
    text-align: right;
  }
  &.total {
    font-weight: bold;
  }

  &.normal {
    max-width: 3.5rem;
  }
  &.long {
    width: 200px;
  }
  &.short {
    max-width: 2rem;
  }
}

.actions-cell {
  * {
    opacity: 0;
  }

  tr:hover & * {
    opacity: 1;
  }
}

#login {
  background-color: $primary;

  display: grid;
  grid-template-columns: auto 400px auto;
  grid-template-rows: auto 350px auto;
  width: 100%;
  height: 100%;

  #login-box {
    background-color: white;
    padding: 1rem;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.11), 0 0 0 1px rgba(0, 0, 0, 0.03);
    grid-column: 2 / 2;
    grid-row: 2 / 2;
  }

  h1 {
    font-weight: bold;
    color: $primary;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  p.catch-phrase {
    font-size: 0.75rem;
    color: #AAA;
    text-align: center;
    margin-bottom: 1rem;
  }

  button {
    padding: 0.5rem 1rem;
    float: right;
  }

  label {
    font-size: 0.75rem;
    color: $primary;
  }

  input {
    font-size: 0.75rem;
    border: 1px solid #DDDDDD;
    border-radius: 2px;
    padding: 0.25rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: calc(100% - 0.5rem);
  }
}
